[mysqld]
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci
default-authentication-plugin = mysql_native_password

# Büyük sorgu ve log için
max_allowed_packet    = 256M
innodb_buffer_pool_size = 512M
innodb_log_file_size  = 128M

# Slow query log
slow_query_log        = 1
slow_query_log_file   = /var/lib/mysql/slow.log
long_query_time       = 2

[client]
default-character-set = utf8mb4
